###############
# Xcode Files #
###############

# User settings
xcuserdata/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
.swiftpm
Packages/
Package.pins
Package.resolved
*.xcodeproj

# Swift build files
.build/

# CocoaPods
Pods/

##############
# User Files #
##############

.env
.DS_Store
